<%= bootstrap_form_for([@post, @comment],layout: :horizontal) do |f| %>
  <div class="row">
	  <div class="col-sm-8">
	  	<%= f.text_field :content, label: 'Comment' %>
	  </div>
	  <div class="col-sm-2">
	    <%= f.submit "Submit", class: "btn btn-primary btn-block btn-flat" %>
	  </div>
  </div>
<% end %>
