<div class="row">
  <div class="col-sm-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Documents List</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <table class="table datatable">
          <thead>
            <tr>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @documents.each do |document| %>
              <tr>
                <td>
                  <%= render '/documents/document', category: document.category, document: document %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div><!-- /.box-body -->
    </div>
  </div>
</div>