<div class="row">
  <div class="col-sm-12">
    <div class="box">
      <ul id="myTab" class="nav nav-tabs nav-justified">
        <li class="lo active"><a href="#service-one" data-toggle="tab"><i class="fa fa-newspaper-o"></i> Posts</a>
        </li>
        <li class=""><a href="#service-two" data-toggle="tab"><i class="fa fa-file-text-o"></i> Documents</a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="service-one">
          <div class="box-header">
            <h3 class="box-title">Posts List</h3>
            <div class="pull-right"><%= link_to 'New Post', new_category_post_path(@category), class: 'btn btn-primary btn-xs btn-flat' if can? :create, @post %>
            </div>
          </div><!-- /.box-header -->
          <div class="box-body">
            <table class="table datatable">
              <thead>
                <tr>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @category.live_posts.each do |post| %>
                  <tr>
                    <td>
                      <%= render '/posts/post', category: @category, post: post %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div><!-- /.box-body -->
        </div>
        <div class="tab-pane fade" id="service-two">
          <div class="box-header">
            <h3 class="box-title">Documents List</h3>
            <div class="pull-right"><%= link_to 'New Document', new_category_document_path(@category), class: 'btn btn-primary btn-xs btn-flat' if can? :create, @document %>
            </div>
          </div><!-- /.box-header -->
          <div class="box-body">
            <table class="table datatable">
              <thead>
                <tr>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @category.live_documents.each do |document| %>
                  <tr>
                    <td>
                      <%= render '/documents/document', category: @category, document: document %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div><!-- /.box-body -->
        </div>
      </div>
    </div>
  </div>
</div>