<section class="content-header">
	<h1>
		<%= current_controller %>
		<small><%= current_action %></small>
	</h1>
	<ol class="breadcrumb">
		<li><%= link_to root_path do %><i class="fa fa-dashboard"></i> Dashboard<%end%></li>
		<li class="active"><%= current_controller %></li>
	</ol>
</section>